# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native iOS
ios/Pods/
.ios-build/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Native Android
android/.gradle/
android/app/build/
.kotlin/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android
